.aboutme {
  display: flex;
  flex-flow: row wrap;
  padding: 0 10%;

  &__picture {
    flex: 7%;
    filter: drop-shadow(0 0.3rem 0 $primary-color);

    img {
      border-radius: 50% 50% 0 50%;
      height: 10vh;
    }
  }

  &__intro {
    flex: 80%;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    &__id {
      flex: 49%;
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
      padding: 0 1rem;

      h1 {
        margin: 0;
      }

      h2 {
        margin: 0;
      }
    }

    &__text{
        position: relative;
        flex: 47%;
        display: flex;
        align-items: center;
        border: 0.3rem solid $primary-color;
        border-top-right-radius: 1rem;
        border-left: none;
        border-bottom: none;
        padding: 0 1rem;
    }
  }
}
