.contact {
    position: fixed;
    z-index: 2;
    width: 80%;
    top: 0;
    padding-top: 0.5rem;

    display: flex;
    flex-flow: row;
    justify-content: space-evenly;
    align-items: center;

    &::after {
        content: '';
        position: absolute;
        z-index: -1;
        top: 0;
        left: -10%;
        width: 120%;
        height: 100%;
        background-color: $back-color;
    }
}
