.education {
  position: relative;
  &::before {
    @include intro-curve;
    right: 15%;
  }

  .title {
    //padding-left: 49.5%;
    //padding-right: 15%;
    &__container {
      flex: 30%;
    }
    h3::after {
      left: -0.7rem;
    }
  }
}
