.education {
    margin: 0 10%;
}

.educationThread {
    position: relative;
    flex: 50%;
    border: 0.5rem solid var(--primary-color);
    border-top-left-radius: 1rem;
    border-right: none;
    border-bottom: none;
}

.educationThread::before {
    content:'';
    position: absolute;
    top: -0.5rem;
    right: 0;
    width: 35%;
    height: 0.5rem;
    background-color: var(--back-color);
}

.educationThread::after {
    content:'';
    position: absolute;
    top: -1.5rem;
    right: 33%;
    width: 1rem;
    height: 1rem;
    background-color: var(--back-color);
    filter: drop-shadow(0 0.3rem var(--back-color));
    border: 0.5rem solid var(--primary-color);
    border-bottom-right-radius: 1rem;
    border-top: 0;
    border-left: 0;
}