body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $back-color;
  color: $fake-white;
}

.app {
  max-width: 100%;
  padding: 2rem;
  padding-top: 4rem;
  display: flex;
  flex-flow: column;
}
/* TODO: responsive & typo & colors */
p {
  font-size: 0.8em;
}

h1, h2, h3, h4 {
  margin: 0;
}

svg {
  color: $secondary-color;
  font-size: 2rem;
}

// TODO: move to aboutme
 
h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $primary-color;
}

h2 {
  font-size: 1rem;
}

