body {
  width: 100%;
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  background-color: $back-color;
  color: $fake-white;
}

.app {
  padding: 2rem;
  display: flex;
  flex-flow: column;
}
/* TODO: responsive & typo & colors */
p {
  font-size: 0.8em;
  margin: 0;
}

h1, h2, h3, h4 {
  margin: 0;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: $primary-color;
}

h2 {
  font-size: 1rem;
}

h3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: $primary-color;
}

h3::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 97.4%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: $back-color;
  filter: drop-shadow(0 0.3rem $back-color);
  border: 0.3rem solid $primary-color;
  border-radius: 50%;
}

svg {
  color: $secondary-color;
  font-size: 2rem;
}

// TODO: move title to another file ?
.titleContainer {
  display: flex;
  position: relative;
}

.titleContainer::after {
  content: "";
  position: absolute;
  top: -1.05rem;
  right: 0%;
  width: 1rem;
  height: 1rem;
  background-color: $back-color;
  filter: drop-shadow(0.5rem 0.5rem $back-color);
  border: 0.3rem solid $primary-color;
  border-left: 0.3rem solid transparent;
  border-bottom-right-radius: 1rem;
  border-top: none;
  border-left: none;
}

// TODO: remove emptySpace ??
.emptySpace {
  flex: 30%;
}

.title {
  position: relative;
  width: 75%;
  z-index: -1;
  padding: 2rem 1rem;
  border: none;
  border-left: 0.3rem solid transparent;
  border-top-left-radius: 1rem;
  border-right: none;
  border-bottom: none;
  background-image: linear-gradient(
    $primary-color 0,
    $primary-color 60%,
    transparent 60%,
    transparent 66%,
    $primary-color 66%,
    $primary-color 72%,
    transparent 72%,
    transparent 78%,
    $primary-color 78%,
    $primary-color 84%,
    transparent 84%,
    transparent 90%,
    $primary-color 90%,
    $primary-color 96%,
    transparent 96%,
    transparent 100%,
  );
  background-clip: border-box;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0.3rem;
    left: -0.05rem;
    width: 101%;
    height: 100%;
    border-top-left-radius: 0.8rem;
    background-color: $back-color;
    background-clip: padding-box;
  }
}