@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap");
body {
  margin: 0;
  font-family: "Work Sans", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #1d3557;
  color: #f1faee;
}

.app {
  max-width: 100%;
  padding: 2rem;
  padding-top: 4rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
}

/* TODO: responsive & typo & colors */
p {
  font-size: 0.8em;
}

h1, h2, h3, h4 {
  margin: 0;
}

svg {
  color: #e63946;
  font-size: 2rem;
}

h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
  color: #457b9d;
}

h2 {
  font-size: 1rem;
}

.card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-decoration: none;
  color: #f1faee;
}

.card__first {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-left: 0.3rem solid #457b9d;
}

.card__first .imgContainer img {
  border-radius: 0 1rem;
}

.card__title__first {
  position: relative;
  border-left: 0.3rem solid #457b9d;
}

.card__title__first::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 37%;
  left: -0.72rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #1d3557;
  -webkit-filter: drop-shadow(0 0.3rem #1d3557);
          filter: drop-shadow(0 0.3rem #1d3557);
  border: 0.3rem solid #457b9d;
  border-radius: 50%;
}

.card__title__left {
  position: relative;
  border-top: 0.3rem solid #457b9d;
  border-left: 0.3rem solid #457b9d;
  border-top-left-radius: 1rem;
}

.card__title__left::before {
  content: "";
  position: absolute;
  top: -1.35rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: #1d3557;
  -webkit-filter: drop-shadow(0.5rem 0.3rem 0 #1d3557);
          filter: drop-shadow(0.5rem 0.3rem 0 #1d3557);
  border: 0.3rem solid #457b9d;
  border-bottom-right-radius: 1rem;
  border-top: none;
  border-left: none;
}

.card__title__left::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 37%;
  left: -0.7rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #1d3557;
  -webkit-filter: drop-shadow(0 0.3rem #1d3557);
          filter: drop-shadow(0 0.3rem #1d3557);
  border: 0.3rem solid #457b9d;
  border-radius: 50%;
}

.card__title__right {
  -webkit-box-ordinal-group: 1;
      -ms-flex-order: 0;
          order: 0;
  position: relative;
  text-align: end;
  border: none;
  border-top: 0.3rem solid #457b9d;
  border-right: 0.3rem solid #457b9d;
  border-top-right-radius: 1rem;
}

.card__title__right::before {
  content: "";
  position: absolute;
  top: -1.35rem;
  left: 0;
  width: 1rem;
  height: 1rem;
  background-color: #1d3557;
  -webkit-filter: drop-shadow(-0.5rem 0.3rem 0 #1d3557);
          filter: drop-shadow(-0.5rem 0.3rem 0 #1d3557);
  border: none;
  border-bottom: 0.3rem solid #457b9d;
  border-left: 0.3rem solid #457b9d;
  border-bottom-left-radius: 1rem;
}

.card__title__right::after {
  content: "";
  position: absolute;
  top: 40%;
  right: -0.7rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #1d3557;
  -webkit-filter: drop-shadow(0 0.3rem #1d3557);
          filter: drop-shadow(0 0.3rem #1d3557);
  border: 0.3rem solid #457b9d;
  border-radius: 50%;
}

.card__content__left {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  border-right: 0.3rem solid #457b9d;
}

.card__content__left .imgContainer img {
  border-radius: 1rem 0;
}

.card__content__right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  position: relative;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  border-left: 0.3rem solid #457b9d;
}

.card__content__right::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: 0;
  height: 0.5rem;
  background-color: #1d3557;
}

.card__content__right .imgContainer img {
  border-radius: 0 1rem;
}

.threadRight::before {
  content: "";
  position: absolute;
  top: -1.35rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: #1d3557;
  -webkit-filter: drop-shadow(0.3rem 0.4rem #1d3557);
          filter: drop-shadow(0.3rem 0.4rem #1d3557);
  border: 0.3rem solid #457b9d;
  border-bottom-right-radius: 1rem;
  border-top: none;
  border-left: none;
}

.imgContainer {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}

.imgContainer img {
  width: 100%;
}

h4 {
  font-weight: 500;
}

/* TODO; ajuster icones et content & button*/
.timeline {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timeline::after {
  content: "";
  position: absolute;
  top: 0;
  left: 49.5%;
  height: 100%;
  width: 0.25rem;
  background-color: #457b9d;
}

.timeline__element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 10%;
}

.timeline__element__left {
  position: relative;
  width: 45%;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  text-align: end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.timeline__element__left::before {
  content: "";
  position: absolute;
  z-index: 1;
  top: 0;
  left: 104%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #1d3557;
  -webkit-filter: drop-shadow(0 0.3rem #1d3557);
          filter: drop-shadow(0 0.3rem #1d3557);
  border: 0.3rem solid #457b9d;
  border-radius: 50%;
}

.timeline__element__left .content {
  border-radius: 1rem 0 1rem 0;
}

.timeline__element__left .date {
  border-radius: 1rem 0 1rem 0;
}

.timeline__element__right {
  position: relative;
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  width: 45%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.timeline__element__right .content {
  border-radius: 0 1rem 0 1rem;
}

.timeline__element__right .content__header p {
  -webkit-box-ordinal-group: 2;
      -ms-flex-order: 1;
          order: 1;
}

.timeline__element__right .date {
  border-radius: 0 1rem 0 1rem;
}

.timeline button {
  position: relative;
  z-index: 1;
  height: 2.5rem;
  border: none;
  border-radius: 1rem;
  color: #f1faee;
  background-color: #457b9d;
}

.date {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  height: -webkit-fit-content;
  height: -moz-fit-content;
  height: fit-content;
  background-color: #457b9d;
}

.content {
  background-color: #457b9d;
}

.content__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content__arcordion {
  background-color: #1d3557;
}

.icon {
  height: 16px;
  width: 16px;
  border: 1px solid #f1faee;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.content p {
  text-align: start;
}

.hidden {
  display: none;
}

.title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.title__container {
  position: relative;
  z-index: 1;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  border: none;
  border-left: 0.3rem solid transparent;
  border-top-left-radius: 1rem;
  border-right: none;
  border-bottom: none;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #457b9d), color-stop(60%, #457b9d), color-stop(60%, transparent), color-stop(66%, transparent), color-stop(66%, #457b9d), color-stop(72%, #457b9d), color-stop(72%, transparent), color-stop(78%, transparent), color-stop(78%, #457b9d), color-stop(84%, #457b9d), color-stop(84%, transparent), color-stop(90%, transparent), color-stop(90%, #457b9d), color-stop(96%, #457b9d), color-stop(96%, transparent), to(transparent));
  background-image: linear-gradient(#457b9d 0, #457b9d 60%, transparent 60%, transparent 66%, #457b9d 66%, #457b9d 72%, transparent 72%, transparent 78%, #457b9d 78%, #457b9d 84%, transparent 84%, transparent 90%, #457b9d 90%, #457b9d 96%, transparent 96%, transparent 100%);
  background-clip: border-box;
}

.title__container::after {
  content: "";
  position: absolute;
  z-index: -1;
  top: 0.25rem;
  left: -0.05rem;
  width: 101%;
  height: 95%;
  border-top-left-radius: 0.8rem;
  background-color: #1d3557;
  background-clip: padding-box;
}

.title__container h3 {
  font-size: 1rem;
  text-transform: uppercase;
  color: #457b9d;
}

.title__container h3::after {
  content: "";
  position: absolute;
  top: 40%;
  left: -0.7rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: #1d3557;
  -webkit-filter: drop-shadow(0 0.3rem #1d3557);
          filter: drop-shadow(0 0.3rem #1d3557);
  border: 0.3rem solid #457b9d;
  border-radius: 50%;
}

.aboutme__top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row nowrap;
          flex-flow: row nowrap;
  gap: 5%;
}

.aboutme__top__picture {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -webkit-filter: drop-shadow(0 0.3rem 0 #457b9d);
          filter: drop-shadow(0 0.3rem 0 #457b9d);
}

.aboutme__top__picture img {
  border-radius: 50% 50% 0 50%;
  height: 10vh;
}

.aboutme__top__id {
  -webkit-box-flex: 50%;
      -ms-flex: 50%;
          flex: 50%;
  -ms-flex-item-align: end;
      align-self: flex-end;
}

.aboutme__bottom {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  border-radius: 0.8rem;
  background-color: #1d3557;
  background-clip: padding-box;
}

.aboutme__bottom::before {
  content: "";
  position: absolute;
  z-index: -1;
  top: -0.25rem;
  left: 0.25rem;
  width: 100%;
  height: 102%;
  border-radius: 1rem;
  background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(20%, transparent), color-stop(20%, #457b9d), to(#457b9d));
  background-image: linear-gradient(to right, transparent 0, transparent 20%, #457b9d 20%, #457b9d 100%);
  background-position: 0;
  background-clip: border-box;
}

@media (min-width: 325px) {
  .aboutme__bottom::before {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(15%, transparent), color-stop(15%, #457b9d), to(#457b9d));
    background-image: linear-gradient(to right, transparent 0, transparent 15%, #457b9d 15%, #457b9d 100%);
  }
}

@media (min-width: 765px) {
  .aboutme__bottom::before {
    background-image: -webkit-gradient(linear, left top, right top, color-stop(0, transparent), color-stop(10%, transparent), color-stop(10%, #457b9d), to(#457b9d));
    background-image: linear-gradient(to right, transparent 0, transparent 10%, #457b9d 10%, #457b9d 100%);
  }
}

.contact {
  position: fixed;
  z-index: 2;
  width: 90%;
  top: 0;
  left: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row;
          flex-flow: row;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.contact::after {
  content: '';
  position: absolute;
  z-index: -1;
  top: 0;
  left: -10%;
  width: 120%;
  height: 100%;
  background-color: #1d3557;
}

.education {
  position: relative;
}

.education::before {
  content: "";
  position: absolute;
  top: -1.05rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: #1d3557;
  -webkit-filter: drop-shadow(0.5rem 0.3rem 0 #1d3557);
          filter: drop-shadow(0.5rem 0.3rem 0 #1d3557);
  border: 0.3rem solid #457b9d;
  border-bottom-right-radius: 1rem;
  border-top: none;
  border-left: none;
  right: 15%;
}

.education .title__container {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
}

.education .title h3::after {
  left: -0.7rem;
}

.portfolio {
  position: relative;
}

.portfolio::before {
  content: "";
  position: absolute;
  top: -1.05rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: #1d3557;
  -webkit-filter: drop-shadow(0.5rem 0.3rem 0 #1d3557);
          filter: drop-shadow(0.5rem 0.3rem 0 #1d3557);
  border: 0.3rem solid #457b9d;
  border-bottom-right-radius: 1rem;
  border-top: none;
  border-left: none;
  right: -0.25rem;
}

.skills {
  position: relative;
}

.skills::before {
  content: "";
  position: absolute;
  top: -1.05rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: #1d3557;
  -webkit-filter: drop-shadow(0.5rem 0.3rem 0 #1d3557);
          filter: drop-shadow(0.5rem 0.3rem 0 #1d3557);
  border: 0.3rem solid #457b9d;
  border-bottom-right-radius: 1rem;
  border-top: none;
  border-left: none;
}

.skills .title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.skills__list {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -ms-flex-item-align: end;
      align-self: flex-end;
  gap: 0.5rem;
}

.skill {
  -webkit-box-flex: 30%;
      -ms-flex: 30%;
          flex: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-flow: column;
          flex-flow: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.skill__icon img {
  height: 42px;
}

.skill__icon svg {
  height: 42px;
}

.transition {
  position: relative;
  -webkit-box-flex: 100%;
      -ms-flex: 100%;
          flex: 100%;
  height: 3.5rem;
}

.transition__dash {
  position: absolute;
  right: 15%;
  height: 100%;
  width: 0.25rem;
  background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #457b9d), color-stop(10%, #457b9d), color-stop(10%, transparent), color-stop(20%, transparent), color-stop(20%, #457b9d), color-stop(30%, #457b9d), color-stop(30%, transparent), color-stop(40%, transparent), color-stop(40%, #457b9d), color-stop(50%, #457b9d), color-stop(50%, transparent), color-stop(60%, transparent), color-stop(60%, #457b9d), to(#457b9d));
  background-image: linear-gradient(#457b9d 0, #457b9d 10%, transparent 10%, transparent 20%, #457b9d 20%, #457b9d 30%, transparent 30%, transparent 40%, #457b9d 40%, #457b9d 50%, transparent 50%, transparent 60%, #457b9d 60%, #457b9d 100%);
  background-clip: border-box;
}
/*# sourceMappingURL=main.css.map */