.skills {
  margin: 0 10%;
}

.skillTitleContainer {
  display: flex;
}

.skillTitle {
  position: relative;
  flex: 75%;
  border: 0.3rem solid var(--primary-color);
  border-top-left-radius: 1rem;
  border-right: none;
  border-bottom: none;
  padding: 2rem 1.5rem;
}

.skillTitle::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: 0;
  width: 36%;
  height: 0.5rem;
  background-color: var(--back-color);
}

.skillTitle::after {
  content: "";
  position: absolute;
  top: -1.35rem;
  right: 35.9%;
  width: 1rem;
  height: 1rem;
  background-color: var(--back-color);
  filter: drop-shadow(0.5rem 0.5rem var(--back-color));
  border: 0.3rem solid var(--primary-color);
  border-bottom-right-radius: 1rem;
  border-top: none;
  border-left: none;
}

.skillTitle h3 {
  text-align: start;
}

.skillTitle h3::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 99.1%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--back-color);
  filter: drop-shadow(0 0.3rem var(--back-color));
  border: 0.3rem solid var(--primary-color);
  border-radius: 50%;
}

.emptySpace {
  flex: 15%;
}

.skillList {
  flex: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}

.skill {
  flex: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.skillIcon {
  display: flex;
  justify-content: center;
}

/* TODO center p */