.education {
    margin: 0 10%;
}

.education .titleContainer::after {
    right: 16%
}

.education .titleContainer .emptySpace {
    flex: 57%;
}

.education .titleContainer .title {
    flex: 50%;
}

.education .title h3::after {
    right: 98%;
  }