/* TODO; ajuster icones et content & button*/
.timeline {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: 0;
    left: 49.5%;
    height: 100%;
    width: 0.25rem;
    background-color: $primary-color;
  }

  &__element {
    display: flex;
    gap: 10%;
    padding-bottom: 1rem;

    &__left {
      position: relative;
      width: 45%;
      flex: 50%;
      text-align: end;
      display: flex;
      justify-content: flex-end;

      &::before {
        content: "";
        position: absolute;
        z-index: 1;
        top: 0;
        left: 104%;
        width: 0.5rem;
        height: 0.5rem;
        background-color: $back-color;
        filter: drop-shadow(0 0.3rem $back-color);
        border: 0.3rem solid $primary-color;
        border-radius: 50%;
      }

      .content {
        border-radius: 1rem 0 1rem 0;
      }

      .date {
        border-radius: 1rem 0 1rem 0;
      }
    }

    &__right {
      position: relative;
      flex: 50%;
      width: 45%;
      display: flex;
      justify-content: flex-start;

      .content {
        border-radius: 0 1rem 0 1rem;

        &__header p{
          order: 1;
        }

      }

      .date {
        border-radius: 0 1rem 0 1rem;
      }
    }
  }
}

.date {
  width: fit-content;
  height: fit-content;
  background-color: $primary-color;
}

.date p {
  padding: 0 1rem;
}

.content {
  background-color: $primary-color;
  
  &__header {
    display: flex;
    align-items: center;
  }
}

.icon {
  height: 16px;
  width: 16px;
  padding: 0.5rem;
  border: 1px solid $fake-white;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.content p {
  text-align: start;
  padding: 0.5rem;
}

.hidden{
  display: none;
}