.skills {
  margin: 0 10%;
}

.skills .titleContainer::before {
  content: "";
  position: absolute;
  top: -1.5rem;
  right: 0;
  width: 29%;
  height: 2rem;
  background-color: var(--back-color);
}

.skills .titleContainer::after {
  right: 29.7%;
}

.skills .titleContainer .emptySpace {
  flex: 15%;
}

.skills .titleContainer .title {
  flex: 75%;
}

.skillList {
  flex: 30%;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  position: relative;
}

.skill {
  flex: 25%;
  padding: 1rem;
  display: flex;
  flex-direction: column;
}

.skillIcon {
  display: flex;
  justify-content: center;
}

.skillIcon img {
  width: 36px;
}

.skillName {
  text-align: center;
}

.transition {
  position: relative;
  flex: 100%;
  height: 5rem;
}

.transition div {
  position: absolute;
  right: 16%;
  height: 100%;
  width: 0.28rem;
  background-image: linear-gradient(
    var(--primary-color) 0,
    var(--primary-color) 10%,
    transparent 10%,
    transparent 20%,
    var(--primary-color) 20%,
    var(--primary-color) 30%,
    transparent 30%,
    transparent 40%,
    var(--primary-color) 40%,
    var(--primary-color) 50%,
    transparent 50%,
    transparent 60%,
    var(--primary-color) 60%,
    var(--primary-color) 100%
  );
  background-clip: border-box;
}
