.app {
  padding: 3rem;
}
/* TODO: responsive & add dash & typo & colors */
p {
  flex: 100%;
  text-align: start;
}

h1 {
  font-size: 3rem;
}

h2 {
  font-size: 2rem;
}

h3 {
  font-size: 1.5rem;
}

svg {
  color: var(--secondary-color);
  font-size: 2rem;
}

.titleContainer {
  display: flex;
}

.title {
  position: relative;
  flex: 63.5%;
  border: 0.3rem solid var(--primary-color);
  border-top-left-radius: 1rem;
  border-right: none;
  border-bottom: none;
  padding: 2rem 1.5rem;
}

.title::before {
  content: "";
  position: absolute;
  top: -0.5rem;
  right: 0;
  width: 36%;
  height: 0.5rem;
  background-color: var(--back-color);
}

.title::after {
  content: "";
  position: absolute;
  top: -1.35rem;
  right: 35.9%;
  width: 1rem;
  height: 1rem;
  background-color: var(--back-color);
  filter: drop-shadow(0.5rem 0.5rem var(--back-color));
  border: 0.3rem solid var(--primary-color);
  border-left: 0.3rem solid transparent;
  border-bottom-right-radius: 1rem;
  border-top: none;
  border-left: none;
}

.title h3 {
  text-align: start;
}

.title h3::after {
  content: "";
  position: absolute;
  top: 40%;
  right: 98.9%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--back-color);
  filter: drop-shadow(0 0.3rem var(--back-color));
  border: 0.3rem solid var(--primary-color);
  border-radius: 50%;
}

.emptySpace {
  flex: 30%;
}

.threadLeft {
  position: relative;
  flex: 50%;
  border: 0.3rem solid var(--primary-color);
  border-top-right-radius: 1rem;
  border-left: none;
  border-bottom: none;
}

.threadLeft::after {
  content: "";
  position: absolute;
  top: 30%;
  left: 98.75%;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--back-color);
  filter: drop-shadow(0 0.3rem var(--back-color));
  border: 0.3rem solid var(--primary-color);
  border-radius: 50%;
}

.titleLeft {
  position: relative;
  flex: 50%;
  padding: 3rem 0;
}

.titleLeft h3 {
  margin: 0 1.5rem;
  text-align: end;
}

.titleLeft::after {
  content: "";
  position: absolute;
  z-index: 1;
  top: 40%;
  right: -0.7rem;
  width: 0.5rem;
  height: 0.5rem;
  background-color: var(--back-color);
  filter: drop-shadow(0 0.3rem var(--back-color));
  border: 0.3rem solid var(--primary-color);
  border-radius: 50%;
}

.threadRight {
  position: relative;
  flex: 50%;
  border: 0.3rem solid var(--primary-color);
  border-left: 0.3rem solid transparent;
  border-top-left-radius: 1rem;
  border-right: none;
  border-bottom: none;
  background-image: linear-gradient(
    var(--primary-color) 65%,
    transparent 65%,
    transparent 70%,
    var(--primary-color) 70%,
    var(--primary-color) 75%,
    transparent 75%,
    transparent 80%,
    var(--primary-color) 80%,
    var(--primary-color) 85%,
    transparent 85%,
    transparent 90%,
    var(--primary-color) 90%,
    var(--primary-color) 95%,
    transparent 95%,
    transparent 100%
  );
  background-clip: border-box;
}

.threadRight::before {
  content: "";
  position: absolute;
  top: -1.35rem;
  right: 0;
  width: 1rem;
  height: 1rem;
  background-color: var(--back-color);
  filter: drop-shadow(0.5rem 0.5rem var(--back-color));
  border: 0.3rem solid var(--primary-color);
  border-bottom-right-radius: 1rem;
  border-top: none;
  border-left: none;
}

.threadRight::after {
  content: "";
  position: absolute;
  top: -0.05rem;
  left: 0;
  width: 101%;
  height: 101%;
  border-top-left-radius: 0.8rem;
  background-color: var(--back-color);
  background-clip: padding-box;
}
